<form action="/memos" method="post">
  <div class="memo__title">
    <input type="text" name="title" required class="memo__title__item">
  </div>
  <div>
    <textarea name="body" class="memo__body__item" required></textarea>
  </div>
  <div class="button-item">
    <input type="submit" class="save__new-edit-button" value="保存" >
  </div>
</form>
