<ul>
  <% @hash_files.each do |file| %>
    <li><a href="/memos/<%= file["id"] %>"><%= file["title"] %></a></li>
  <% end %>
</ul>
<input type="submit" onclick="location.href='/memos/new'" value="追加" class="top-botton">